.todo {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
  align-items: center;
}

.label {
  display: flex;
}

.text {
  width: 100%;
  display: block;
  margin-left: 0.4rem;
}
