.todo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
}

.label {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.labelEditMode {
  width: auto;
}

.text {
  display: block;
  width: 100%;
  margin-left: 0.4rem;

  text-overflow: ellipsis;
}
