.todo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
}

.label {
  display: flex;
  width: 100%;
}

.labelEditMode {
  width: auto;
}

.text {
  margin-left: 0.4rem;
  text-overflow: ellipsis;
  /* word-break: break-all; */
}
